<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>{{title}}</title>
</head>

<body>
  <div id="container">

    <header>
      {{> header}} <p><a href="/login">Login</a> <a href="/logout">Logout</a></p>

    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      {{> footer}}
    </footer>

  </div>
</body>

</html>