<h1 style="text-align: center">Filter Restaurants</h1>
<h5><a href="/api/filter/restaurants/?page=1&perPage=5">Go Back</a></h5>
<form method="GET" action="/api/restaurants/">
    <input type="text" name="page" placeholder="Enter Page"> <br /> <br />
    <input type="text" name="perPage" placeholder="Per Page"> <br /> <br />
    <input type="text" name="borough" placeholder="Borough"> <br /> <br />

    <input style="display: block" type="submit">
</form>
</form>