<h1 style="text-align: center">Log In</h1>
<form method="POST" action="/login">
     <input type="password" name="password" placeholder="Enter password"> <br /> <br />

     <input type="submit">
</form>
</form>